*,
*::after,
*::before {
    padding: 0;
    margin: 0;
    box-sizing: inherit;
}

html {
    font-size: 62.5%;
}

body {
    font-family: 'Poppins', sans-serif;
    font-size: 1rem;
    box-sizing: border-box;
}
    


.container {
    
    display: flex;
    flex-direction: column;
    gap: 4rem;
    
}

/* NAVIGATION HEADER AND FOOTER */
.navigation {
    display: flex;
    justify-content: center;  
} 


.navigation ul {
    display: flex;
    gap: 6rem;
}

.navigation li {
    list-style: none;
}

.navigation a {
    color: gray;
}

/* ----------------------------- */


/* HEADER--------------------- */
header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 4rem;
    height: 100vh;

    background-image: url(/media/img/header-hero.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    

    /* QUITAR DISPLAY */
    /* display: none; */
} 

header h1 {
    text-transform: uppercase;
    font-size: 6rem;
}

/* ----------------------------- */



/* SECTIONS --------------------- */
section {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    padding: 2rem;
    max-width: 80rem;
    margin: 0 auto;
    height: 80vh;
    
}

section h2 {
    font-size: 2.5rem;
    text-transform: uppercase;
}

section h3 {
    font-size: 1.5rem;
}

section p {
    font-size: 1.2rem;
}


section form {
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
    gap: 4rem;
    
}

section form .formInputs, section form .formImg {
    padding: 2rem;
}

section form .formInputs {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

section form .formInputs > div {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

section form .formInputs .formAnswer {
    display: flex;
    justify-content: space-between;
    gap: 2rem;
    align-items: center;
}

section form div textarea {
    resize: none;
    width: 15rem;
    padding: 4px;
    font-size: 1.1rem;
}


section form input[type="submit"] {
    padding: 2px 10px;
    align-self: center;
    border-radius: 1rem;
    background-color: transparent;
    box-shadow: none;
    cursor: pointer;
    font-size: .8rem;
    text-transform: uppercase;

}
section form input[type="submit"]:hover {
    background-color: lightblue;
    color: #fff;
    transition: all .5s;
}


section form .formImg {
    width: 30rem;
    height: 20rem;
    background-image: url(/media/img/formImg.jpg);
    background-size: cover;
}

    




footer {
    padding: 2rem;
    background-color: lightseagreen;
    height: 20vh;
}

footer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;

    
}