*,
*::after,
*::before {
    padding: 0;
    margin: 0;
    box-sizing: inherit;
}

html {
    font-size: 100%;
}

body {
    font-family: 'Poppins', sans-serif;
    padding: 2rem;
    width: 80vw;
    margin: 0 auto;
}

/* NAVIGATION HEADER AND FOOTER */
.navigation {
    display: flex;
    justify-content: center;
    width: 80vw;

} 

.navigation ul {
    display: flex;
    gap: 6rem;
}

.navigation li {
    list-style: none;
}

.navigation a {
    color: gray;
}

/* ----------------------------- */


/* HEADER--------------------- */
header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 4rem;
    height: 80vh;
    

    /* QUITAR DISPLAY */
    /* display: none; */
} 

header h1 {
    text-transform: uppercase;
    font-size: 6rem;
}

/* ----------------------------- */



/* SECTIONS --------------------- */
section {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    padding: 2rem;
    height: 50vh;
    border: solid 1px black;
}


section form {
    display: flex;
    justify-content: center;
    gap: 4rem;
    
}

section form .formInputs, section form .formImg {
    padding: 2rem;
}

section form .formInputs {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

section form .formInputs > div {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

section form .formImg {
    width: 30rem;
    height: 20rem;
}

section form .formInputs .formAnswer {
    display: flex;
    justify-content: space-between;
    gap: 2rem;
    align-items: center;
}

section form div textarea {
    resize: none;
    width: 15rem;
    padding: 4px;
}


section form input[type="submit"] {
    padding: 2px 20px;
    align-self: center;
    border-radius: 1rem;
    background-color: transparent;
    box-shadow: none;
    cursor: pointer;

}
section form input[type="submit"]:hover {
    background-color: lightblue;
    color: #fff;
    transition: all .5s;
}


section form .formImg {
    background-image: url(/media/img/formImg.jpg);
}

    




footer {
    background-color: lightseagreen;
    height: 20vh;
}