
/* VARIABLES ------------------------- */
:root {
    --primary-color: #0a95c0;
    --body-background: linear-gradient(to top, #b0fcfca1, #ccf2f8ab);
    --white: #fff;
}

/* RESET ------------------------- */
*,
*::after,
*::before {
    padding: 0;
    margin: 0;
    box-sizing: inherit;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body {
    font-family: 'Poppins', sans-serif;
    line-height: 1.5;
    box-sizing: border-box;

    background: var(--body-background);
}
    

/* CONTENEDOR PRINCIPAL -------------------- */
.container {
    display: flex;
    flex-direction: column;
    gap: 4rem;
}

/* NAVEGACIONES ------------------------- */
/* navegación del header */
.navigation {
    display: flex;
    justify-content: center;  
} 


.navigation ul {
    display: flex;
    gap: 6rem;
}

.navigation li {
    list-style: none;
}

.navigation a {
    color: var(--white);
    text-decoration: none;
    text-transform: uppercase;
    font-size: 1.6rem;
    text-shadow: 0 0 4px black;
}

.navigation a:hover {
    color: #0fd6dd;
}


/* Navegación del footer */

footer .navigation a {
    color: var(--primary-color);
    text-shadow: none;
}

footer .navigation a:hover {
    color: #75f9fd;
}



/* HEADER ------------------------- */
header {
    background-image:   linear-gradient(#0fd6dd88, #b4fde7ab), url(/media/img/header-hero.jpg);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 4rem;
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
} 

header h1 {
    text-transform: uppercase;
    font-size: 6rem;
    color: var(--white);
    text-shadow: 0 2px 12px black;
}

/* SECTIONS ------------------------- */

/* Estilos globales */
section {
    height: 100vh;
    padding: 4rem;
    padding: 2rem;

    max-width: 120rem;
    margin: 0 auto;
}



section h2 {
    color: var(--primary-color);
    font-size: 2.5rem;
    margin-bottom: 8rem;
    text-transform: uppercase;
    text-align: center;
}

section h3 {
    font-size: 1.5rem;
    color: var(--primary-color);
    text-transform: uppercase;
    
}

section p {
    font-size: 1.2rem;
    color: #5c5959;
}

/* Estilos individuales */

section .section__content {
    padding: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

/* Imágenes de los artículos */

section .section__img {
    display: flex;
    justify-content: center;
    height: 40rem;
    flex-grow: 0;
}

section .section__img--1 {
    order: -1;
}

section .section__img--2 {
    order: 0;
    height: 30rem;
}

/* Descripciones de los artículos */

section .section__description {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    flex-grow: 2;
}

section .section__description small {
    color: var(--primary-color);
    font-weight: bold;
}

section .section__description small span{
    color: black;
    font-weight: bold;
}

section .section__description--1 {
    order: 0;
}

section .section__description--2 {
    order: -1;
}

section .section__description small {
    align-self: flex-end;
}



/* SECCIÓN DEL FORMULARIO */

section.form {
    height: 70vh;
    margin-bottom: 6rem;
}

section.form h3 {
    text-align: center;
    margin-bottom: 2rem;
}

section.form .form__text {
    font-size: 1.5rem;
    margin-bottom: 4rem;
}

section form {
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
    gap: 4rem;
    
}

section form label, input {
    color: var(--primary-color);
    outline: none;
    border: 0;
}



section form .formInputs, section form .formImg {
    padding: 2rem;
}

section form .formInputs {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

section form .formInputs > div:not(.formSubmitBox) {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

section form .formInputs .formAnswer {
    display: flex;
    justify-content: space-between;
    gap: 2rem;
    align-items: center;
}

section form div textarea {
    resize: none;
    width: 15rem;
    padding: 4px;
    font-size: 1.1rem;
    border: 0;
}

section form .formSubmitBox {
    display: flex;
    justify-content: center;
}


section form div input[type="submit"] {
    padding: 2px 10px;
    border-radius: 1rem;
    background-color: transparent;
    box-shadow: none;
    cursor: pointer;
    font-size: .8rem;
    text-transform: uppercase;

}
section form input[type="submit"]:hover {
    background-color: #0fd6dd;
    color: var(--white);
    transition: all .5s;
}


section form .formImg {
    display: flex;
    width: 40rem;
    height: 30rem;
    background-size: cover;
}

    

/* FOOTER */


footer {
    padding: 2rem;
    margin-bottom: 4rem;
    
}

footer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
}

footer small {
    color: #5c5959;
}

footer > a {
    color: var(--primary-color);
    text-decoration: none;
    text-transform: uppercase;
    
    padding: 4px 10px;
}

footer > a:hover {
    color: #75f9fd;
}









    