
/* VARIABLES ------------------------- */
:root {
    --primary-color: #0a95c0;
    --body-background: linear-gradient(to top, #b0fcfca1, #ccf2f8ab);
    --white: #fff;
}

/* RESET ------------------------- */
*,
*::after,
*::before {
    padding: 0;
    margin: 0;
    box-sizing: inherit;
}

html {
    font-size: 0.75em;
    scroll-behavior: smooth;
}

body {
    font-family: 'Poppins', sans-serif;
    line-height: 1.5;
    box-sizing: border-box;

    background: var(--body-background);
}
    

/* CONTENEDOR PRINCIPAL -------------------- */
.container {
    display: flex;
    flex-direction: column;
    gap: 4rem;
}

/* NAVEGACIONES ------------------------- */ 

/* Estilos globales */
.navigation__header, .navigation__footer {
    display: flex;
    justify-content: center;
    gap: 6rem;
}  

.navigation__header li, .navigation__footer li {
    list-style-type: none;
}
    
.navigation__header a {
    text-decoration: none;
    font-size: 1.5rem;
    text-transform: uppercase;
    color: var(--white);
    text-shadow: 0 0 4px #00000099;
}


/* Estilos para la navegación del header */
.navigation__header--sub {
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
    text-align: center;

    opacity: 0;
}

.navigation__header--sub li {
    color: var(--white);
    font-size: 1.2rem;
    border-bottom: 1px solid var(--white);
    text-transform: uppercase;
}
    
.navigation__header li a:hover {
    text-shadow: 0 0 2px;
    transition: all .5s ease;
}

.navigation__header li a:focus ~ .navigation__header--sub {
    opacity: 1;
    transition: opacity 2s ease;
}


/* Estilos para la navegación del footer */
.navigation__footer a {
    text-decoration: none;
    font-size: 1.5rem;
    text-transform: uppercase;
    color: var(--primary-color);
}

.navigation__footer a:hover {
    text-shadow: 0 0 2px;
    transition: all .5s ease;
}


/* HEADER ------------------------- */
header {
    background-image:   linear-gradient(#0aa0a5a4, #b4fde7ab), url(/media/img/header-hero.jpg);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 4rem;
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
} 

header h1 {
    text-transform: uppercase;
    font-size: 6rem;
    color: var(--white);
    text-shadow: 0 2px 12px black;
}

/* SECTIONS ------------------------- */

/* Estilos globales */
section {
    height: 100vh;
    padding: 4rem;
    padding: 2rem;

    max-width: 120rem;
    margin: 0 auto;
}



section h2 {
    color: var(--primary-color);
    font-size: 2.5rem;
    margin-bottom: 4rem;
    text-transform: uppercase;
    text-align: center;
}

section h3 {
    font-size: 1.5rem;
    color: var(--primary-color);
    text-transform: uppercase;
    
}

section p {
    font-size: 1.2rem;
    color: #5c5959;
}

/* Estilos individuales */

section .section__content {
    padding: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

/* Imágenes de los artículos */

section .section__img {
    display: flex;
    justify-content: center;
    height: 40rem;
    flex-grow: 0;
}

section .section__img--1 {
    order: -1;
}

section .section__img--2 {
    order: 0;
    height: 30rem;
}

/* Descripciones de los artículos */

section .section__description {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    flex-grow: 2;
}

section .section__description small {
    color: var(--primary-color);
    font-weight: bold;
}

section .section__description small span{
    color: black;
    font-weight: bold;
}

section .section__description--1 {
    order: 0;
}

section .section__description--2 {
    order: -1;
}

section .section__description small {
    align-self: flex-end;
}



/* SECCIÓN DEL FORMULARIO */

section.form {
    height: 70vh;
    margin-bottom: 15rem;
}

section.form h3 {
    text-align: center;
    margin-bottom: 2rem;
}

section.form .form__text {
    font-size: 1.5rem;
    margin-bottom: 4rem;
}

section form {
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
    gap: 4rem;
    
}

section form label {
    font-size: 1rem;
}

section form label, input {
    color: var(--primary-color);
    outline: none;
    border: 0;
}



section form .formInputs, section form .formImg {
    padding: 2rem;
}

section form .formInputs {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

section form .formInputs > div:not(.formSubmitBox) {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.formAnswer p {
    color: var(--primary-color);
}

section form .formInputs .formAnswer {
    display: flex;
    justify-content: space-between;
    gap: 2rem;
    align-items: center;
}

section form div textarea {
    resize: none;
    width: 15rem;
    padding: 4px;
    font-size: 1.1rem;
    border: 0;
}

section form .formSubmitBox {
    display: flex;
    justify-content: center;
}


section form div input[type="submit"] {
    padding: 4px 12px;
    border-radius: 1rem;
    background-color: transparent;
    
    cursor: pointer;
    font-size: .8rem;
    text-transform: uppercase;

}
section form input[type="submit"]:hover {
    background-color: var(--primary-color);
    color: var(--white);
    transition: all .5s;
}


section form .formImg {
    display: flex;
    width: 40rem;
    height: 30rem;
    background-size: cover;
}

    

/* FOOTER */


footer {
    padding: 6rem;
    background: #fff;
}
    

footer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
}

footer small {
    color: #5c5959;
}

footer > a {
    color: var(--primary-color);
    text-decoration: none;
    text-transform: uppercase;
    
    padding: 4px 10px;
}

footer > a:hover {
    text-shadow: 0 0 2px;
    transition: all .5s ease;
}









    